* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}
body {
    background-color: #191d7b;
    max-width: 512px;
    margin: 0 auto;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
button {
    margin: 1rem auto;
    width: 100%;
    padding: 1rem;
    display: block;
    border-radius: 1rem;
    font-size: 1.2rem;
}
#button-open-discord {
    background-color: #5d64d1;
    color: white;
}
p {
    margin: 1rem
}
.card {
    background-color: #5d64d1;
    padding: 2rem;
    margin: 3rem 1rem;
    border-radius: 2rem;
}
#card-header {
    text-align: center;
    margin: 5rem 1rem 0rem 1rem;
    padding: 0 3rem;

}
#banner {
    width: 100%;
}
.card-video {
    width: 100%;
    border-radius: 2rem;
}

.sigmar-regular {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-shadow: white 1px 1px;
}

h1 {
    line-height: 2rem;
    margin: 1rem;
}

.image_overlay {
    width: 100px;
    margin: 0 0 -6rem 5rem;
}
