* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}
body {
    background-color: #191d7b;
    max-width: 512px;
    margin: 0 auto;
    color: white;
    font-family: "DM Sans", sans-serif;
    /* font-optical-sizing:auto; */
    font-weight: 400;
    font-style: normal;
}
.card {
    background-color: #5d64d1;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}
#card-header {
    text-align: center;
    margin: 4rem 1rem;
}
#banner {
    width: 100%;
}

/* temporary diplay solution */
img {
    width: 100%;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

h1 {
    line-height: 2rem;
}
